
.block{
    width: 20px;
    height:20px;
    display: inline-block;
    background-color: brown;
}
.wall{
    background-color: black;
}
.floor{
    background-color: whitesmoke;
}
.start{
    background-color: green;
    
}
.row{
    display: flex;

}
.playerMove{
    height:20px;
    width: 20px;
    background-color: indigo;
    position: absolute;
}